[submodule "mysql/mysql-docker"]
	path = mysql/mysql-docker
	url = https://github.com/mysql/mysql-docker
[submodule "flask/4.fileUploads/myfilesApp/static/dropzone"]
	path = flask/4.fileUploads/myfilesApp/static/dropzone
	url = https://github.com/enyo/dropzone
