[submodule "mysql/mysql-docker"]
	path = mysql/mysql-docker
	url = https://github.com/mysql/mysql-docker
[submodule "flask/App4/myfilesApp/static/dropzone"]
	path = flask/App4/myfilesApp/static/dropzone
	url = https://github.com/enyo/dropzone
